/* Header Styles from Template */

.navbar-fixed-top {
  position: fixed;
  right: 0;
  left: 0;
  font-family: 'Nunito Sans', sans-serif;
  border-width: 0;
  border-radius: 0;
  background: transparent;
  z-index: 1030;
}

.navbar-inverse {
  transition: .4s;
}

.navbar {
  min-height: 50px;
  margin-bottom: 0;
  border: none;
}

.navbar.scrolled {
  min-height: 35px;
  background: #fff;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.navbar-lg .navbar-brand {
  padding: 0 0 0;
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 5px;
}

.navbar-lg .navbar-nav > li > a {
  padding: 40px 12px 35px;
  font-size: 14px;
  line-height: 1.6;
  color: #024d94;
  font-family: "Nunito Sans";
  font-weight: 700;
}

.navbar-lg .navbar-nav > li > a:hover {
  color: #000000;
}

.navbar-login {
  margin-top: 10px;
  margin-left: 10px;
}

.navbar-login a {
  border: 1px solid #024d94;
  background: #024d94;
  color: #fff !important;
  padding: 5px 23px !important;
  font-weight: 700;
  margin-top: 25px;
}

.navbar-login a:hover {
  background: #000;
  color: #024d94 !important;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.navbar-header {
  float: left;
}

.navbar-brand {
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
}

.navbar-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background-color: #888;
}

.icon-bar + .icon-bar {
  margin-top: 4px;
}

.navbar-collapse {
  padding-right: 15px;
  padding-left: 15px;
  overflow-x: visible;
  border-top: 1px solid transparent;
  box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
}

.navbar-nav {
  margin: 7.5px -15px;
}

.navbar-nav > li {
  float: left;
}

.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
}

.navbar-right {
  float: right !important;
  margin-right: -15px;
}

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}